@charset "utf-8";
/* VOGUE PJ 미디어쿼리 - media.css */
/*
[ 미디어 쿼리 사이즈별 셋팅의 기준 ]
1. 디자인 상 필요한 사이즈에 셋팅함
2. 1024px 사이즈에 셋팅함 - 태블릿 사이즈 기준으로 본다!(아이패드 가로크기)
3. 모바일 사이즈는 세로로 볼때 사이즈를 포함하며 가로로볼때 사이즈를 포함하지 않는
사이즈를 정한다.(여기서는 500px로 봄)


[ 미디어 쿼리를 보다 쉽게 변경하는 방법 ]
1. 레이아웃 박스를 %로 셋팅함(100%로 변경하는 경우많음)
2. 내부박스의 높이값을 개별적으로 주기
3. absolute박스를 static하게 변경하여 위치를 차지하게함
4. 브라우저 분석기로 열고 우선 속성을 변경하여 적용될 때 이것을 복사하여 붙임!

*/


/*1200px이하 사이즈*/
@media only screen and (max-width:1200px) {

    /*
    전체글자조정
    rem으로 코딩된 사이즈는 
    root인 html의 글자크기를
    기준으로 변경된다!*/
    html {
        font-size: 14px;
        /*기본은 16px, html의 글자크기를 바꾸면 하위요소들 중 
        rem, em에 계산기준이됨*/
    }


}

/*1200px이하*/


/*1100px 이하 미디어쿼리*/
@media only screen and (max-width:1100px) {

    /*전체글자크기*/
    html {
        font-size: 12px;
    }

    /******상단변경*******/
    /*첫번째 파티션박스*/

    /*로고파티션*/
    /*div외에 button형제도 있으므로 "-of-type"으로 선택해야함!*/
    #top > div:first-of-type {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 43%;
    }


    /*gnb파티션*/
    #top > div:last-of-type {
        width: 100%;
    }


    /*gnb박스*/
    .gnb {
        bottom: 30px;
        right: auto;
        left: 50%;
        transform: translateX(-50%);
    }

    /*상단부 높이값 변경*/
    #top {
        height: 206px;
    }


    /*큰로고 보임*/
    .blogo {
        display: inline;
    }

    /*작은로고 숨김*/
    .slogo {
        display: none;
    }




}

/*1100px이하*/

/*1024px 이하 미디어쿼리*/
@media only screen and (max-width:1024px) {

    /*
        미디어쿼리 변경팁!!!
        - 무조건 이미 설정된 선택자를 변경한다!
        - 적용우선 순위를 걱정할 필요가 없다!
    */

    /*상단영역 높이변경*/
    #top {
        height: 120px;
    }

    /*로고 파티션박스 가로크기 변경*/
    #top > div:first-of-type {
        width: 25%;
    }

    /*gnb메뉴 숨기기*/
    .gnb {
        display: none;
    }


    /*햄버거버튼, 검색버튼 보이기*/
    #ham,
    #magni {
        display: block;
    }

    /*컨텐츠 배너 배열변경하기
    3,1-> 2,2*/
    #mban li,
    #mban li:last-child {
        width: 50%;
    }


}

/*1024px 이하 미디어쿼리*/




/*500px이하 모바일 미디어쿼리*/
@media only screen and (max-width:500px) {

    /*전체 글자크기 조정*/
    html {
        font-size: 20px;
    }


    /*float된 박스를 width:100%로 변경!*/
    .news,
    .mban {
        width: 100%;
    }

    /*
        참고로 flex 인 경우(display: flex;)
    
        flex-direction: column;
        으로만 설정하면 한줄에 하나씩 옴!
    */

    /*absolute 속박스를 static박스로 변경!
        - static으로 바꾸는 이유?
        위치설정값 등을 무력화시켜서 일반 박스로 변경해줌!
    */
    .rbxIn {
        position: static;
    }

    /*비율유지 가상요소 없애기!
    단, 두번째 가상요소만 없앤다*/
    .rbx2::before {
        display: none;
    }

    /*메뉴 배너 li박스 width:100%로 변경 - 한줄에 하나의 박스*/
    /*
        높이값을 보이는 화면(view port)을 기준으로 50%비율로 설정함!
        50vh
    */
    #mban li,
    #mban li:last-child {
        width: 100%;
        height: 50vh;
    }

    /*뉴스 각 li 높이값 뷰포트높이값 기준 변경*/
    #news li {
        height: 50vh;
    }

    /*로고 크기변경*/
    #top > div:first-of-type {
        width: 40%;
    }

    /*하단로고*/
    #info {
        background-position: center 77px;
        background-size: 200px;
    }
    
    /*주소박스*/
    #info address{
        width: auto;
        padding: 15px;
    }



}

/*500px이하 모바일 미디어쿼리*/
